
/* initialise texte et body*/
html, body{
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: cover; /* version standardisée */
	-o-background-size: cover; /* version précédente */
	background-color: black;
	color:white;

}

.cate{
	display: inline-block;
	width: 42%;
	margin-left: 5%;
}

#logo{
	margin-top: 15%;
	width:70%;
}
.user{
	display: inline-block;
	margin-left: 5%;
}

.cate img{
	width:100%;
}

.cate h3{
	text-align: center;
}

a{
	color: white;
	text-decoration: none;
}

#container {
	position: absolute;
	top: 70px;
	right: 0;
	left: 0;
	bottom: 0;
	padding-top: 0;
}


/*mise en page de notre header qui contient de quoi naviguer sur le site*/
header{
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	line-height: 60px;
	background-color: rgba(0,0, 0, 0.9);
	border-bottom: 2px solid #262626;
	z-index: 100000;
}



/*barre de navigation*/
.nav{
	width: 100%;
	padding: 0;
	text-align: center;
	
}
.section{

	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 2px solid #262626;
	background-color: rgba(30,30,30, 0.9);
}

/*lien de la barre de nav*/
.nav a{
	display: inline-block;
	margin: 0 -2px;
	padding: 0 35px;
	
	color: white;
	text-decoration: none;
	font-size: 1em;
}

/*quand on passe dessus ou clique dessus*/
.nav a:hover, .nav a:focus{
	background-color: #262626;
	cursor: pointer;
}

/*quand le site passe sous les 1000px on change la mise en page (surtout du header)*/
@media only screen and (max-width: 1000px) {

	/*pour eviter probleme mobile avec fixed*/
	header { position: static; }


	/*en plpace notre hamburger de select a droite dans le header*/
	.nav__icon {
		position: relative;
		display: block;
		float: right;
		width: 50px;
		height: 60px;
		cursor: pointer; 
	}
	/* L'icône hamburger, en utilisant le box-shadow */
	.nav__icon:after {
		content: '';
		position: absolute;
		display: block;
		width: 16px;
		height: 0;
		top: 16px;
		left: 15px;
		box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }

		/* Le menu collé à droite est masqué */
		.nav {
			position: absolute;
			right: 0;
			top: 60px;
			bottom: 0;
			background-color: inherit;
			width: 200px;
			border-left: 2px solid #262626;
			z-index: 1000000;
			display: none;
		}
		/* Un lien par ligne */
		.nav a {
			margin-left: 1px;
			display: block;
			height: 40px;
			text-align: center;
			line-height: 40px;
			border-bottom: 1px solid #262626; 
		} 

		/*action a effectuer quand on appuie sur le hamburger*/
		.with--sidebar .nav {
			display: inline-block;
		}

		.with--sidebar .contenu {
			transform: translateX(-200px);
		}
		/* On met un cache par dessus le contenu pour bloquer le scroll et permettre le retour au site */
		.with--sidebar .site-cache {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

	}